*{
    background-color: white;
}

#container {
    margin: 5px 5px 5px 0px;
}

canvas {
    border: 3px solid orangered;
    width: 100%;
    image-rendering: pixelated;
    background-image: url("individual-assets/game-background-wide.png");
    background-size: 100%;
    aspect-ratio: 2.14/1;
    cursor: url(/individual-assets/crosshair.png) 12 11, auto;
}
h2 {
    border: 3px solid forestgreen;
    width: 100px;
    height: 28px;
}