*{
    background-color: white;
}

#container {
    margin: 5px 5px 5px 0px;
}

canvas {
    border: 3px solid black;
    width: 100%;
    image-rendering: pixelated;
    background-size: 100%;
    aspect-ratio: 2.14/1;
    cursor: url(/individual-assets/crosshair.png) 12 11, auto;
}
h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-top: 0;
}